# ROS2 / colcon build artifacts
build/
install/
log/

# Python virtual environment
webots_venv/

# YOLOv8 models
yolo_models/

# Controllers build artifacts
controllers/**/build/
controllers/**/release/
controllers/panda_controller/panda_controller

# Python / CMake / VSCode
__pycache__/
*.pyc
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# C/C++ object & dependency files
*.o
*.d

# Webots cache & temp
*.wbo
*.bak
*.tmp
cache/

# System files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# Launch / temporary logs
*.log
*.trace

# Editor temp files
*.swp
*.swo

*.jpg
*.jpeg
