# ROS2 / colcon build artifacts
build/
install/
log/

# Controllers build artifacts
**/build/
**/release/
**/panda_controller

# Python / CMake / VSCode
__pycache__/
*.pyc
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# C/C++ object & dependency files
*.o
*.d

# Webots cache & temp
*.wbo
*.bak
*.tmp
cache/

# System files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# Launch / temporary logs
*.log
*.trace

# Editor temp files
*.swp
*.swo

*.jpg